{% extends '_base.jinja2' %}
{% import '_licenses_modal.jinja2' as licenses_modal with context %}
{% block head %}
<meta name="description" content="OpenStreetMap public transport made easy. {#
    #}OSM Relatify is a user-friendly web editor designed for mapping public transport relations. {#
    #}Currently, only editing existing bus routes is supported.">
<link rel="canonical" href="/">
{% endblock %}
{% block body %}
<div class="container homepage text-center my-5">

  <a href="/">
    <img src="/static/img/banner.webp" class="img-fluid rounded col-md-9 col-lg-7 col-xl-6 mb-4"
      alt="OSM Relatify banner">
  </a>

  <div class="mb-3">

    <span>
      <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#licenses-modal">Licenses</a>
    </span>
    <span>
      <span class="px-0">・</span>
    </span>
    <span>
      <a class="" href="https://monicz.dev/#get-in-touch" target="_blank">Contact</a>
    </span>
    <span>
      <span class="px-0">・</span>
    </span>
    <span>
      <a class="" href="https://github.com/Zaczero/osm-relatify" target="_blank">
        <img class="repo-stars" alt="GitHub repo stars"
          src="https://shields.monicz.dev/github/stars/Zaczero/osm-relatify?style=social">
      </a>
    </span>

  </div>

  <form method="POST" action="/login">
    <button class="btn btn-primary login-btn" type="submit">
      <img src="/static/img/brands/openstreetmap.webp" height="22" alt="OpenStreetMap logo">
      Login with <b>OpenStreetMap</b>
    </button>
  </form>

</div>

{{ licenses_modal.render() }}

{% endblock %}
