[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
asyncache = "*"
authlib = "*"
brotlipy = "*"
cachetools = "*"
cython = "*"
dacite = "*"
fastapi = "*"
h2 = "*"
httpx = "*"
itsdangerous = "*"
jinja2 = "*"
networkx = "*"
orjson = "*"
rapidfuzz = "*"
requests = "*"
rtree = "*"
scikit-learn = "*"
scipy = "*"
starlette = "*"
tenacity = "*"
uvicorn = {extras = ["standard"], version = "*"}
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.11"
